@model IEnumerable<Datalayer.PageGroup>
<ul class="ne-dropdown-menu">

    @foreach(var item in Model)
    {
        <li><a href="/Group/@item.GroupID/@item.GroupTitle">@item.GroupTitle</a></li>
    }

</ul>