@model IEnumerable<Datalayer.Page>
<div class="col-lg-4 col-md-6 col-sm-12">
    <div class="footer-box">
        <h2 class="title-bold-light title-bar-left text-uppercase">مطالب پربازدید</h2>
        <ul class="most-view-post">
                @foreach (var item in Model)
                {
                              <li>
                                  <div class="media">
                                      <div class="position-relative width-40">
                                          <a href="~/Content/single-news-1.html" class="img-opacity-hover img-overlay-70">
                                              <img src="/PageImages/@item.ImageName" alt="news" class="img-fluid">
                                          </a>
                                      </div>

                                      <div class="media-body p-mb-none-child media-margin30">
                                          <div class="post-date-light" >
                                              <ul>
                                                  <li>
                                                      <span>
                                                          <i class="fa fa-calendar" aria-hidden="true"></i>
                                                      </span>@item.CreateDate.ToShamsi()
                                                  </li>
                                              </ul>
                                          </div>
                                          <h3 class="title-medium-light size-md mb-5">
                                              <a href="~/Content/single-news-1.html">@item.ShortDescription</a>
                                          </h3>
                                      </div>

                                  </div>
                                     @* 
                                     <div class="media">
                                              <a href="~/Content/post-style-1.html">
                                                  <img src="/PageImages/@item.ImageName" alt="post" class="img-fluid">
                                              </a>
                                          
                                              <div class="media-body">
                                                  <h3 class="title-medium-light size-md mb-10">
                                                      <a href="#">@item.ShortDescription</a>
                                                  </h3>
                                                  <div class="post-date-light">
                                                      <ul>
                                                          <li>
                                                              <span>
                                                                  <i class="fa fa-calendar" aria-hidden="true"></i>
                                                              </span>@item.CreateDate.ToShamsi()
                                                          </li>
                                                      </ul>
                                                  </div>
                                              </div>
                                          
                                          </div>
                                         *@
</li>
                }
        </ul>
    </div>
</div>